<div id="modalBackground"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
      <h3 style="margin-bottom: -62%;">Add tache</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii">
        <label for="TacheProjet">Tache Projet:</label>
        <input type="text" id="TacheProjet" placeholder="Entrez Tache Projet">
  
        <label for="TacheName">Tache Name:</label>
        <input type="text" id="TacheName" placeholder="Entrez Tache Name">
  
        <label for="TacheStart">Tache Start:</label>
        <input type="text" id="TacheStart" placeholder="Entrez Tache Start">
  
        <label for="TacheDeadline">Tache Deadline:</label>
        <input type="text" id="TacheDeadline" placeholder="Entrez Tache Deadline">

        <label for="TachePriority">Tache Priority:</label>
        <input type="text" id="TachePriority" placeholder="Entrez Tache Priority">

        <label for="TacheStatus">Tache Status:</label>
        <input type="text" id="TacheStatus" placeholder="Entrez Tache Status">

        <label for="TacheNote">Tache Note:</label>
        <input type="text" id="TacheNote" placeholder="Entrez Tache Note">
      </div>
      <div style="width: 113.4%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;">Add</button>
      </div>
    </div>
</div>
  </div>
  