<div id="modalBackground"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
      <h3 style="margin-bottom: -65%;">Add Contact Client</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii">
        <label for="ContactId">Contact Id:</label>
        <input type="text" id="ContactId" placeholder="Entrez Contact Id">
  
        <label for="ClientId">Client Id:</label>
        <input type="number" id="ClientId" placeholder="Entrez Client Id">
  
        <label for="EstPrincipal">Est Principal:</label>
        <input type="text" id="EstPrincipal" placeholder="Entrez Est Principal">
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;">Add</button>
      </div>
    </div>
</div>
  </div>
  