<div id="modalBackgroundupdate"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
      <h3 style="margin-bottom: -65%;">Update item</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii">
        <label for="itemnom">item nom:</label>
        <input type="text" id="itemnom" placeholder="Entrez item nom">
  
        <label for="itemunit">item unit:</label>
        <input type="text" id="itemunit" placeholder="Entrez item unit">
  
        <label for="itemprice">item price:</label>
        <input type="text" id="itemprice" placeholder="Entrez item price">
  
        <label for="itemtype">item type:</label>
        <input type="text" id="itemtype" placeholder="Entrez item type">

        <label for="itemnote">item note:</label>
        <input type="text" id="itemnote" placeholder="Entrez item note">
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;">Update</button>
      </div>
    </div>
</div>
  </div>
  