<div id="modalBackgroundupdate"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
      <h3 style="margin-bottom: -65%;">Update client</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii">
        <label for="ClientNom">Client Nom:</label>
        <input type="text" id="ClientNom" placeholder="Entrez Client Nom">
  
        <label for="ClientTel">Client Tel:</label>
        <input type="number" id="ClientTel" placeholder="Entrez Client Tel">
  
        <label for="ClientEmail">Client Email:</label>
        <input type="text" id="ClientEmail" placeholder="Entrez Client Email">
        
        <label for="ClientAdress">Client Adress:</label>
        <input type="text" id="ClientAdress" placeholder="Entrez Client Adress">
        
        <label for="clientStatus">client Status:</label>
        <input type="text" id="clientStatus" placeholder="Entrez le statut du client">
  
        <label for="ClientNote">Client Note:</label>
        <input type="text" id="ClientNote" placeholder="Entrez ClientNote">
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;">Update</button>
      </div>
    </div>
</div>
  </div>
  