<!-- app.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <div class="logo">
    <img src="assets/logo.png" alt="Logo de l'application">
  </div>
  <ul class="nav-links">
   
  </ul>
</nav>

<div class="sidebar">
  <div class="accueilbutton">
  <a routerLink="/page1"><i class="fa fa-home" style="margin-left: 12px;"></i>Accueil</a>
</div>
  <div class="restbutton">
  <a routerLink="/tache">tache</a>
  <a routerLink="/item">item</a>
  <a routerLink="/devis">devis</a>
  <a routerLink="/client">client</a>
  <a routerLink="/contact">contact</a>
  <a routerLink="/projet">projet</a>
  <a routerLink="/item-tache">item tache</a>
  <a routerLink="/client-contact">client contact</a>
  <!-- Ajoutez d'autres liens au besoin -->
</div>
<hr>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
