<div id="modalBackgroundupdate"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
      <h3 style="margin-bottom: -65%;">Update Projet</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii">
        <label for="ProjetTitle">Projet Title:</label>
        <input type="text" id="ProjetTitle" placeholder="Entrez Projet Title">
  
        <label for="ClientProjet">Client Projet:</label>
        <input type="text" id="ClientProjet" placeholder="Entrez Client Projet">
  
        <label for="ProjetMO">Projet MO:</label>
        <input type="text" id="ProjetMO" placeholder="Entrez Projet MO">
  
        <label for="ProjetMOE">Projet MOE:</label>
        <input type="text" id="ProjetMOE" placeholder="Entrez Projet MOE">
        
        <label for="ProjetBct">Projet Bct:</label>
        <input type="text" id="ProjetBct" placeholder="Entrez ProjetBct">
        
        <label for="ProjetLocalisation">Projet Localisation:</label>
        <input type="text" id="ProjetLocalisation" placeholder="Entrez Projet Localisation">
        
        <label for="DateCreation">Date Creation:</label>
        <input type="date" id="DateCreation" placeholder="Entrez Date Creation">
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;">Update</button>
      </div>
    </div>
</div>
  </div>
  