<div style="margin-left: 50px; background-color: rgb(255, 252, 250); width: 87%; overflow: hidden;border: 1px solid rgb(234, 234, 234);margin-top: 50px;">
    <div style="margin-left: 20px; margin-bottom: 20px;">
        <div style="display: inline-block;">
            <h2>Item tache details</h2>
        </div>
        <div style="display: inline-block; margin-left: 70.8%;">
            <button class="action-button" (click)="openModal()">+ Add New</button>
        </div>
<table class="table">
    <tr>
        <th>Element Id</th>
        <th>Tache Id</th>
        <th>Item Id</th>
        <th>Element Qty</th>
        <th>Element Status</th>
        <th>Element Note</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2021-05-01</td>
        <td>Ongoing</td>
        <td>5000</td>
        <td>100</td>
        <td>100</td>
        <td>
            <img src="assets/icons8-edit.svg" alt="Edit" (click)="openModalUpdate()">
            <img src="assets/icons8-delete.svg" alt="Delete" (click)="openModalDelete()">
        </td>
    </tr>
   
</table>
</div>
</div>
<app-modaladditem-tache></app-modaladditem-tache>
<app-modalupdateitem-tache></app-modalupdateitem-tache>
<app-modaldeleteitem-tache></app-modaldeleteitem-tache>