<div id="modalBackgroundupdate"  class="modal">
    <div>
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
      <h3 style="margin-bottom: -65%;">Update contact</h3>
      <hr style="width: 338.2px;margin-left: -20px;">
      <div class="iii">
        <label for="ContactNom">Contact Nom:</label>
        <input type="text" id="ContactNom" placeholder="Entrez Contact Nom">
  
        <label for="Contacttel">Contact tel:</label>
        <input type="text" id="Contacttel" placeholder="Entrez Contact tel">
  
        <label for="ContactWhatsapp">Contact Whatsapp:</label>
        <input type="text" id="ContactWhatsapp" placeholder="Entrez Contact Whatsapp">
  
        <label for="ContactEmail">Contact Email:</label>
        <input type="text" id="ContactEmail" placeholder="Entrez Contact Email">
        
        <label for="ContactAdress">Contact Adress:</label>
        <input type="text" id="ContactAdress" placeholder="Entrez Contact Adress">
        
        <label for="ContactProfession">Contact Profession:</label>
        <input type="text" id="ContactProfession" placeholder="Entrez Contact Profession">
        
        <label for="ContactNote">	Contact Note:</label>
        <input type="text" id="ContactNote" placeholder="Entrez 	Contact Note">
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;">Update</button>
      </div>
    </div>
</div>
  </div>
  